<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Module is Under development</title>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
        body{
            background-color: antiquewhite;
            text-align: center;
        }
        .container{
            border: 2px solid black;
            width: 100%;
            margin:auto;
            text-align: center;
        }
    </style>
    <body>
        <div class="container">
            <h1>This module is under development</h1>
            <p>To check update contact:</p>
        </div>
        <footer>
            <hr>
            <p>&copy; 2025 Urban ZoomIn. All rights reserved.</p>
            <p>Developed by <a href="https://srinadhch07.github.io/PortfolioV3/k">SRINADH CHINTAKINDI</a></p>
            <p>Contact: <a href="https://api.whatsapp.com/send/?phone=9346070083&text=Hi! I saw your Urban ZoomIn." style="color:#218838">Whatsapp</a></p>
            <p>Follow me on <a href="https://www.linkedin.com/in/srinadh-chintakindi-887550232/" target="_blank">LinkedIn</a>, <a href="https://x.com/srinadhch07" target="_blank">Twitter</a>, and <a href="https://www.instagram.com/mr_srinadhch07/" target="_blank">Instagram</a>.</p>

        </footer>
    </body>
</html>